In [1]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing dataset
data1=pd.read_csv('AV Contest/test.csv')

In [3]:
data2=pd.read_csv('AV Contest/train.csv')

In [4]:
data3=pd.read_csv('AV Contest/view_log.csv')

In [5]:
data4=pd.read_csv('AV Contest/item_data.csv')

In [6]:
data2.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [7]:
data3.head()

           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640
2  2018-10-15 08:58:00     android      573960    23628   128855
3  2018-10-15 08:58:00     android      121691     2430    12774
4  2018-10-15 08:58:00     android      218564    19227    28296

In [8]:
data4.head()

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239

In [9]:
data2.corr()

           user_id  app_code     is_4G  is_click
user_id   1.000000  0.000247  0.000256 -0.001035
app_code  0.000247  1.000000 -0.081480 -0.005449
is_4G     0.000256 -0.081480  1.000000 -0.003464
is_click -0.001035 -0.005449 -0.003464  1.000000

In [10]:
data2.is_click.value_counts().sum()

237609

In [11]:
data2.columns

Index(['impression_id', 'impression_time', 'user_id', 'app_code', 'os_version',
       'is_4G', 'is_click'],
      dtype='object')

In [12]:
combined= pd.merge(data2,data3, left_on=data2.user_id,right_on=data3.user_id,how='inner')

In [13]:
combined.head()

,key_0,impression_id,impression_time,user_id_x,app_code,os_version,is_4G,is_click,server_time,device_type,session_id,user_id_y,item_id
0,87862,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,87862,43886
1,87862,621bf66ddb7c962aa0d22ac97d69b793,2018-11-15 00:19:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,87862,43886
2,87862,ab394288aed46588bdc90bf4b541ec0d,2018-11-16 17:29:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,87862,43886
3,63410,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-21 06:13:00,android,356854,63410,43209
4,63410,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-21 06:13:00,android,356854,63410,66370

In [17]:
combined=combined.drop('key_0',axis=1)

In [15]:
combined=pd.merge(combined,data4,left_on=combined.item_id,right_on=data4.item_id, how='inner')

In [16]:
combined=combined.drop(['user_id_y','item_id_y'],axis=1)

In [18]:
combined.head()

,impression_id,impression_time,user_id_x,app_code,os_version,is_4G,is_click,server_time,device_type,session_id,item_id_x,item_price,category_1,category_2,category_3,product_type
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,43886,2350,11,35,20,5622
1,621bf66ddb7c962aa0d22ac97d69b793,2018-11-15 00:19:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,43886,2350,11,35,20,5622
2,ab394288aed46588bdc90bf4b541ec0d,2018-11-16 17:29:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,43886,2350,11,35,20,5622
3,372d3f309fef061977fb2f7ba36d74d2,2018-11-15 06:11:00,85131,207,latest,1,0,2018-10-15 13:25:00,android,663666,43886,2350,11,35,20,5622
4,372d3f309fef061977fb2f7ba36d74d2,2018-11-15 06:11:00,85131,207,latest,1,0,2018-11-27 11:30:00,android,846052,43886,2350,11,35,20,5622

# Encoding the data

In [19]:
os_version=pd.get_dummies(combined.os_version,drop_first=True)

In [20]:
device_type=pd.get_dummies(combined.device_type,drop_first=True)

In [21]:
train=combined.drop(['impression_id','impression_time','user_id_x','server_time','os_version','device_type','session_id'],axis=1)

In [22]:
train=pd.concat([train,os_version,device_type],axis=1)

In [23]:
train.shape

(11046039, 13)

In [24]:
train.head()

,app_code,is_4G,is_click,item_id_x,item_price,category_1,category_2,category_3,product_type,latest,old,iphone,web
0,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
1,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
2,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
3,207,1,0,43886,2350,11,35,20,5622,1,0,0,0
4,207,1,0,43886,2350,11,35,20,5622,1,0,0,0

# Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr=LogisticRegression()

In [154]:
lr.fit(train.drop('is_click',axis=1),train.is_click)

C:\Users\Vimesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [52]:
data1.shape

(90675, 6)

In [54]:
data1.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G
0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1
1,caac14a5bf2ba283db7708bb34855760,2018-12-13 07:45:00,29656,44,latest,0
2,13f10ba306a19ce7bec2f3cae507b698,2018-12-13 07:46:00,25234,296,latest,1
3,39c4b4dc0e9701b55a0a4f072008fb3f,2018-12-13 07:47:00,22988,207,latest,1
4,bf5a572cca75f5fc67f4b14e58b11d70,2018-12-13 07:48:00,35431,242,latest,1

In [251]:
test_combined=pd.merge(data1,data3, left_on=data1.user_id,right_on=data3.user_id, how='inner')

In [254]:
test_combined=test_combined.drop('key_0',axis=1)

In [253]:
test_combined=pd.merge(test_combined,data4, left_on=test_combined.item_id,right_on=data4.item_id, how='inner')

In [271]:
test_combined.shape

(3869280, 17)

In [270]:
test_os_version=pd.get_dummies(test_combined.os_version,drop_first=True)

In [257]:
test_device_type=pd.get_dummies(test_combined.device_type,drop_first=True)

In [258]:
test=test_combined.drop(['impression_id','impression_time','user_id_x','server_time','os_version','device_type','session_id'],axis=1)

In [259]:
test=pd.concat([test,test_os_version,test_device_type],axis=1)

In [260]:
test.shape

(3869280, 14)

In [261]:
test=test.drop(['user_id_y','item_id_y'],axis=1)

In [68]:
train.head()

,app_code,is_4G,is_click,item_id_x,item_price,category_1,category_2,category_3,product_type,latest,old,iphone,web
0,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
1,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
2,422,0,0,43886,2350,11,35,20,5622,0,1,0,0
3,207,1,0,43886,2350,11,35,20,5622,1,0,0,0
4,207,1,0,43886,2350,11,35,20,5622,1,0,0,0

In [262]:
test.shape

(3869280, 12)

In [71]:
train.shape

(11046039, 13)

In [155]:
predicted_combined=lr.predict(test)

In [285]:
solutions=pd.DataFrame({'impression_id':test_combined.impression_id,'time':test_combined.impression_time,'predicted_is_click':predicted_combined})

In [158]:
solutions.to_csv('LRsolutionvimesh1.csv',index=False)

(90675, 2)

In [79]:
cd

C:\Users\Vimesh

In [80]:
data1.shape

(90675, 6)

In [125]:
os_version_1=pd.get_dummies(data2.os_version, drop_first=True)

In [132]:
train_data2=data2.drop(['impression_id','impression_time','user_id','os_version'], axis=1)

In [137]:
train_data2=pd.concat((train_data2,os_version_1),axis=1)

In [122]:
os_version_2=pd.get_dummies(data1.os_version, drop_first=True)

In [144]:
test_data1=data1.drop(['impression_id','impression_time','user_id','os_version'], axis=1)

In [146]:
test_data1=pd.concat((test_data1,os_version_2),axis=1)

In [147]:
test_data1.shape

(90675, 4)

In [139]:
train_data2.shape

(237609, 5)

In [138]:
train_data2.head()

   app_code  is_4G  is_click  latest  old
0       422      0         0       0    1
1       467      1         1       1    0
2       259      1         0       0    0
3       244      1         0       1    0
4       473      0         0       1    0

In [140]:
test_data1.head()

   app_code  is_4G  latest  old  latest  old
0       127      1       1    0       1    0
1        44      0       1    0       1    0
2       296      1       1    0       1    0
3       207      1       1    0       1    0
4       242      1       1    0       1    0

In [142]:
lr.fit(train_data2.drop('is_click',axis=1),train_data2.is_click)

C:\Users\Vimesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [148]:
predicted=lr.predict(test_data1)

In [149]:
solutions_1=pd.DataFrame({'impression_id':data1.impression_id,'is_click':predicted})

In [150]:
solutions_1.to_csv('LRsolutionvimesh.csv',index=False)